# Python virtualenvs
**/venv/


# dotenv environment variables file
.env
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


# Ignore Terraform state files and directories
*.tfstate
*.tfstate.*
**/.terraform/
*.terraform.lock.hcl*

*.lock.hcl

# Optionally, you might want to ignore Terraform plan files as well
*.tfplan

# Byte-compiled / cache files
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc

# Log files
*.log

# Editor and OS files
.DS_Store
Thumbs.db
*~
*.swp

iso/
mnt/
