# configured by Border0 Gateway Admin
{% set parts = address.split('.') %}
{% set prefix = parts[0] ~ '.' ~ parts[1] ~ '.' ~ parts[2] %}
allow-hotplug {{ iface }}
auto {{ iface }}
iface {{ iface }} inet static
    pre-up /usr/sbin/rfkill unblock wlan
    post-up /usr/sbin/dnsmasq -I lo -i {{ iface }} --bind-interfaces -K -z -F {{ iface }},{{ prefix }}.10,{{ prefix }}.250,5m --dhcp-option=3,{{ gateway }} --dhcp-option=6,{{ gateway }} --address=/gateway.border0/{{ address }} --log-dhcp --log-facility=/var/log/dnsmasq_{{ iface }}.log
    address {{ address }}
    netmask {{ netmask }}
{% if gateway %}    #gateway {{ gateway }}
{% endif %}{% if dns %}    #dns-nameservers {{ dns }}
{% endif %}{% if broadcast %}    broadcast {{ broadcast }}
{% endif %}


# --------------